body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url('images/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.container {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8); /* Adding a slight background to container for better readability */
    padding: 20px;
    border-radius: 10px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
.card img {
    max-width: 200px; /* Adjust the maximum width as needed */
    max-height: 300px; /* Adjust the maximum height as needed */
    display: block;
    margin: 0 auto; /* Center the image horizontally */
}
.card {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 5px;
    display: flex;
}

.card p {
    margin: 10px 0;
}
